.content {
    grid-area: c;
    background-color: cornflowerblue;
}

.item {
    color: greenyellow;
}

.item img {
    width: 50px;
}

.postsBlock {
    padding: 10px;
}

.posts {
    margin-top: 10px;
}